.vs/API/FileContentIndex/c8087d6a-44d5-4a9f-9c07-ae4a528d4454.vsidx
.vs/API/FileContentIndex/726de382-d5c3-4e02-93eb-1fae7ae61802.vsidx
.vs/API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
.vs/API/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/API/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/API/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
